.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $theme-color;
  color: $white;
  border: none;
}

.button--modal {
  font-size: 18px;
}

.button--likes {
  font-size: 14px;
  line-height: 24px;
  color: $black;
  background-color: transparent;
}
