.page {
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
  margin: auto;
  background-color: $background;
  color: $small-text;
}

.page__wrapper {
  background-color: $white;
}
