.page {
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $background;
  color: $small-text;
}
