.page-main__introduction {
  text-align: center;
}

.page-main__introduction-picture {
  background-color: $background-mountain;
  background-image: url("../img/back-mountain.jpg");
  background-position: center bottom;
  background-size: cover;
}


.page-main__introduction-slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.page-main__introduction-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}
