.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos__item:nth-child(1) {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.photos__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
}

.photos__author {
  text-transform: none;
}
