// Colors
$white: #ffffff;
$small-text: #333333;
$theme-color: #81b3d2;
$background: #f2f2f2;
$background-mountain: #dceaf3;
$background-map: #cbdda9;
$background-features-other: #eeeeee;
$background-range: rgba(0, 0, 0, 0.6);
$background-scale: rgba(255, 255, 255, 0.2);
$black: #000000;

// Fonts
$main-font: "PT Sans", "Arial", sans-serif;
